.flex-container {
    display: flex;
    align-items: center;
}

.App {
    text-align: center;
    margin: 5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 5px;
    height: 75px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.icon-container__close {
    flex-grow: 0.05;
    padding: 10px;
}


.icon-container {
    height: 40px;
}


.header a {
    text-decoration: none;
    flex-grow: 1;
}

.logo {
    display: flex;
    align-items: center;
}


.icon-container img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    margin-left: 10px;
    font-size: x-large;
}