.App {
    text-align: center;
}

.brand-name-container {
    padding: 10px;
    color: aliceblue;
    background: #9f3535;
    font-weight: bolder;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
